

.fake-video-element{
    border: 0.35px solid #ccc;
    margin: auto;
    margin-top: 10rem;
    height: 242px;
    width: 288px;
    border-radius: 8px;
}

.btn-button{
    width: 288px;
    height: 51px;
    font-size: 20px;
    border-radius: 8px;
}