@import 'forms';
@import 'buttons';
@import 'bottomBar';

.nav-bar{
    width: 100%;
    margin: 0;
    // padding: 2.9rem auto auto auto; 
    color: getColor(primary);
    background-color: white;
    box-shadow: $shadow;
    height: 67px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    $radius: 0.6rem;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;

    h1{
        margin: 0;
        font-size: 2.2rem;
        // padding-left: 29px;
    }
    .btn{
        position: absolute;
        right: 10px;
        color: black;
        box-shadow: none;
    }
}

#video-component{
    border-radius: 8px;
    margin: 2rem auto;
}

.description-card{
    // width: 100%;
    height: fit-content;
    padding: 66px 24px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: getColor(secondary);
    box-shadow: $shadow;
    color: white;
    border-radius: 8px;
    margin-top: 1.3rem;
    font-weight: bold;
}

.profile{
    border-radius: 50%;
    width: 42px;
    aspect-ratio: 1/1;
    border: #D8D8D8 solid 1px;
    
}


.meeting-display{
    // margin-top: 4rem;
    padding: 1.1em;
    height: 90%;
    // position: relative;

    button{
        margin-top: 2rem;
        position:fixed;
        bottom: 10;
    }
    

    .greetings{
        height: 90px;
        display: grid;
        grid-template-columns: 1fr 50px;
        align-items: center;
        border-bottom: #D8D8D8 solid 1px;
        margin: 0 -1.1em;
        padding: 0 1.1rem;
        margin-bottom: 3rem;

        &>*{
            font-size: 30px;
        }
        span{
            color: getColor(secondary);
            font-size: inherit;
        }
        
    }

    span{
        font-size: 14px;
        font-weight: bold;
    }
    
    .display-tile{
        box-shadow: $shadow;
        border-radius: 8px;

        margin-top: 0.9rem;
        height: 48px;
        display: grid;
        grid-template-columns: 1fr 35px;
        align-items: center;
        padding: 0 1rem;

        &>*{
            font-size: 1rem;
            font-weight: bold;
        }
    }
}

.light-tip{
    color: #D8D8D8;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.meeting-view{
    text-align: center;
    padding-top: 1.6em;

    .title{
        font-size: 1.8rem;
        margin: 0 2rem;
        margin-bottom: 2rem;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }

    .view-box{
        margin-bottom: 2rem;

        h5{
            text-align: start;
            margin-left: 1rem;
            margin-top: 1rem;
            color: getColor(secondary);
        }
        p{
            margin: 1.7rem 0;
            font-weight: 500;
        }

        .box-tile{
            @extend .box;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            font-weight: 600;
        }

    }
}

.box{
    border-radius: 8px;
    border: #D8D8D8 solid 1px;
    // min-height: 3rem;
    margin: 0.8rem 1.6rem;
    background-color: white;
    position:relative;
}