@import 'forms';
@import 'buttons';
@import 'bottomBar';

.nav-bar{
    width: 100%;
    margin: 0;
    // padding: 2.9rem auto auto auto; 
    color: getColor(primary);
    background-color: white;
    box-shadow: $shadow;
    height: 67px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    $radius: 0.6rem;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;

    h1{
        margin: 0;
        font-size: 2.2rem;
        // padding-left: 29px;
    }
    .btn{
        position: absolute;
        right: 10px;
        color: black;
    }
}

#video-component{
    border-radius: 8px;
    margin: 2rem auto;
}

.description-card{
    // width: 100%;
    height: fit-content;
    padding: 66px 24px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: getColor(secondary);
    box-shadow: $shadow;
    color: white;
    border-radius: 8px;
    margin-top: 1.3rem;
    font-weight: bold;
}

