*{
    padding: 0;
    margin: 0;
}

#root{
    background-color: #FAFAFA;
    height: 100vh;
    overflow-x:hidden;
    position: relative;
}

.boundary{
    padding: 16px 29px 0 29px;
    position:relative;
}

$colors: (
    strong: #1FEF9F,
    medium: #1F77EF,
    weak: #FA3737,
);

@each $sign, $color in $colors{

    .meter-#{$sign}{
    meter::-webkit-meter-optimum-value{

            background-color: map-get($colors, $sign);
        }
    }

}

// video::-webkit-media-controls{
//     // display:none !important;
// }

// video::-webkit-media-controls-fullscreen-button{
//     display:block;
// }

// video::-webkit-media-controls-play-button {
//     display:none !important;
// }
// video::-webkit-media-controls-timeline {
//     display:none !important;
// }
// video::-webkit-media-controls-current-time-display{
//     display:none !important;
// }
// video::-webkit-media-controls-time-remaining-display {
//     display:none !important;
// }
// video::-webkit-media-controls-mute-button {
//     display:none !important;
// }
// video::-webkit-media-controls-toggle-closed-captions-button {
//     display:none !important;
// }
// video::-webkit-media-controls-volume-slider {
//     display:none !important;
// }