.title {
  font-size: 5.7rem;
  color: #1c1018;
  text-align: center;
}

.description {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 24px;
  font-weight: bold;
  color: #67415A;
}

.switch {
  margin-top: 1.6rem;
}

.switch a {
  color: royalblue;
  text-decoration: none;
}

.inputs {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 1rem auto;
  text-align: center;
}

.form-group {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: auto;
  margin-bottom: 1em;
}

.form-group .form-label {
  margin-left: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: bold;
  font-size: 1rem;
  opacity: 1;
  color: #00000080;
  display: block;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form-group .form-control, .form-group .file-upload {
  z-index: 6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.form-group .form-control::-webkit-input-placeholder, .form-group .file-upload::-webkit-input-placeholder {
  color: transparent;
}

.form-group .form-control:-ms-input-placeholder, .form-group .file-upload:-ms-input-placeholder {
  color: transparent;
}

.form-group .form-control::-ms-input-placeholder, .form-group .file-upload::-ms-input-placeholder {
  color: transparent;
}

.form-group .form-control::placeholder, .form-group .file-upload::placeholder {
  color: transparent;
}

.form-group .form-control:focus, .form-group .file-upload:focus {
  outline: none;
  border-color: orange;
}

.form-group .form-control:focus + .form-label, .form-group .file-upload:focus + .form-label,
.form-group .form-control:not(:placeholder-shown) + .form-label,
.form-group .file-upload:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-4.1rem) translateX(-0.2rem) scale(0.9);
          transform: translateY(-4.1rem) translateX(-0.2rem) scale(0.9);
}

.form-control, .file-upload {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  border-radius: 0.6rem;
  border: 1px solid #ccc;
  padding-left: 1rem;
  font-weight: bold;
  min-width: 280px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-height: 43px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form-control:focus, .file-upload:focus {
  outline: none;
  border-color: orange;
}

textarea {
  padding-top: 0.4rem;
}

input[type=file] {
  display: none;
  padding-top: 10px;
}

.custom-file-upload {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'upload button';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 74px;
}

.custom-file-upload .btn {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: button;
}

.file-upload {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: upload;
  position: relative;
  display: block;
  height: 32px;
  background-color: white;
  margin: auto;
  padding: 0;
  position: relative;
}

.file-upload .btn, .file-upload span {
  position: absolute;
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.file-upload span {
  left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-upload .btn {
  right: 0;
}

.percent > * {
  font-weight: bold;
}

.btn {
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  height: 32px;
  border: none;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  -webkit-box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
}

.btn-long {
  min-width: 160px;
}

.btn-primary {
  background-color: #2249f5;
}

.btn-secondary {
  background-color: #e40066;
}

.btn-complementary {
  background-color: #eac435;
}

.btn-text {
  background-color: #1c1018;
}

.btn-long-xl {
  margin: auto;
  min-width: 90%;
  font-size: 20px;
  height: 42px;
}

.floating-icon {
  position: absolute;
  width: 46px;
  height: 46px;
  bottom: 12px;
  right: 12px;
  background-color: #2249f5;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
}

.bottom-bar {
  width: 100vw;
  overflow-y: none;
  -webkit-box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
  background-color: white;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
}

.bottom-bar .right, .bottom-bar .left {
  position: absolute;
}

.bottom-bar .right {
  right: 0.2rem;
}

.bottom-bar .left {
  left: 0.2rem;
}

.nav-bar {
  width: 100%;
  margin: 0;
  color: #2249f5;
  background-color: white;
  -webkit-box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
  height: 67px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.nav-bar h1 {
  margin: 0;
  font-size: 1.6rem;
}

.nav-bar .btn {
  position: absolute;
  right: 10px;
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#video-component {
  border-radius: 8px;
  margin: 2rem auto;
}

.description-card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 66px 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e40066;
  -webkit-box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
  color: white;
  border-radius: 8px;
  margin-top: 1.3rem;
  font-weight: bold;
}

.profile {
  border-radius: 50%;
  width: 42px;
  aspect-ratio: 1/1;
  border: #D8D8D8 solid 1px;
  background-color: white;
}

.meeting-display {
  padding: 1.1em;
  height: 90%;
}

.meeting-display button {
  margin-top: 2rem;
  position: fixed;
  bottom: 10;
}

.meeting-display .greetings {
  height: 90px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px;
      grid-template-columns: 1fr 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #D8D8D8 solid 1px;
  margin: 0 -1.1em;
  padding: 0 1.1rem;
  margin-bottom: 3rem;
}

.meeting-display .greetings > * {
  font-size: 30px;
}

.meeting-display .greetings span {
  color: #e40066;
  font-size: inherit;
}

.meeting-display span {
  font-size: 14px;
  font-weight: bold;
}

.meeting-display .display-tile {
  -webkit-box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-top: 0.9rem;
  height: 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 35px;
      grid-template-columns: 1fr 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.meeting-display .display-tile > * {
  font-size: 1rem;
  font-weight: bold;
}

.light-tip {
  color: #D8D8D8;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.meeting-edit {
  margin-top: 2rem;
}

.meeting-view, .meeting-edit {
  text-align: center;
  padding-top: 1.6em;
}

.meeting-view .title, .meeting-edit .title {
  font-size: 1.8rem;
  margin: 0 2rem;
  margin-bottom: 2rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meeting-view .form-label, .meeting-edit .form-label {
  color: #e40066;
}

.meeting-view .view-box, .meeting-edit .view-box {
  margin-bottom: 2rem;
}

.meeting-view .view-box h5, .meeting-edit .view-box h5 {
  text-align: start;
  margin-left: 1rem;
  margin-top: 1rem;
  color: #e40066;
}

.meeting-view .view-box .data, .meeting-edit .view-box .data {
  margin: 1.7rem 1rem;
  text-align: start;
  font-weight: 500;
}

.meeting-view .view-box .box-tile, .meeting-edit .view-box .box-tile {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}

.box, .custom-file-upload, .meeting-view .view-box .box-tile, .meeting-edit .view-box .box-tile {
  margin: 0.8rem 1.6rem;
}

.plain-box, .box, .custom-file-upload, .meeting-view .view-box .box-tile, .meeting-edit .view-box .box-tile {
  border-radius: 8px;
  border: #D8D8D8 solid 1px;
  position: relative;
  background-color: white;
}

.block {
  height: 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 1fr;
      grid-template-columns: 120px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  margin: 0;
  margin-bottom: 1rem;
}

.faded {
  color: rgba(0, 0, 0, 0.4);
}

.block-component {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'img info';
  height: 60%;
  max-height: 550px;
  border-radius: 26px;
}

@media (max-width: 600px) {
  .block-component {
        grid-template-areas: 'info' 'img';
  }
  .block-component .img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img;
  }
  .block-component .img img {
    width: 90%;
    max-width: 760px;
    position: absolute;
    bottom: 0;
  }
  .block-component .info {
    z-index: 10;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: info;
    text-align: center;
  }
  .block-component .info h1 {
    color: #e40066;
    font-family: 'Open Sans';
    font-size: 81px;
    margin-top: calc(100vh - 70vh);
  }
}

@media (min-width: 600px) {
  .block-component {
        grid-template-areas: 'info' 'img';
    background-color: white;
    -webkit-box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
    height: 90%;
    margin: 2.9rem;
    padding: 1rem;
    padding-bottom: 0;
  }
  .block-component .img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img;
  }
  .block-component .img img {
    width: 90%;
    max-width: 760px;
    position: absolute;
    bottom: 0;
  }
  .block-component .info {
    z-index: 10;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: info;
    text-align: center;
  }
  .block-component .info h1 {
    color: #e40066;
    font-family: 'Open Sans';
    font-size: 81px;
    margin-top: calc(100vh - 70vh);
  }
  .block-component .img {
    position: relative;
  }
  .block-component .img img {
    opacity: 0.6;
  }
}

@media (min-width: 1020px) {
  .block-component {
        grid-template-areas: 'img info';
    -ms-grid-columns: 60% 1fr;
        grid-template-columns: 60% 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .block-component .img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img;
  }
  .block-component .img img {
    width: 90%;
    max-width: 760px;
    position: absolute;
    bottom: 0;
  }
  .block-component .info {
    z-index: 10;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: info;
    text-align: center;
  }
  .block-component .info h1 {
    color: #e40066;
    font-family: 'Open Sans';
    font-size: 81px;
    margin-top: calc(100vh - 70vh);
  }
  .block-component .info h1 {
    margin-top: 0;
  }
  .block-component .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block-component .img img {
    position: static;
    bottom: 0;
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
}

#root {
  background-color: #FAFAFA;
  height: 100vh;
  overflow-x: hidden;
}

.boundary {
  padding: 16px 29px 0 29px;
  position: relative;
}
/*# sourceMappingURL=styles.css.map */